*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
	background-color: var(--color-blue);
	text-align: center;
	color: white;
	height: 8em;
	z-index: 9999;
	position: sticky;
	top: 0;
	border-bottom: 3px solid var(--color-gold);
}
